@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
.green{
  background-color: $green;
}
.red{
  background-color: $red;
}
.yellow{
  background-color: $yellow;
}
.grey{
  background-color: $secondary;
}

img{
  max-width: 90%;
}