@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';

input.ng-touched.ng-invalid{
  border: 1px solid $danger;
}

input.ng-valid{
  border: 1px solid $success;
}

app-spinner{
  width: 100%;
  justify-content: center;
  text-align: center;
}

img{
  max-width: 100%;
}